* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 5%;
	background: black;
	display: flex;
	justify-content: space-between;
}

#scores {
	font-size: x-large;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
}

score {
	padding: 2.5px;
}

#hits {
	color: white;
	font-size: x-large;
	text-align: center;
}

#game {
}
